.container {
    padding: 0 200px 0 0 ;
    width: 1000px;
}

.menu-box {
    position: absolute;
    top: 70px;
    right: 80px;
}

.menu-show {
    padding: 30px 40px 30px 10px;
    border: 1px solid darkgrey;
    border-radius: 5px;
    box-shadow: darkgrey 2px 2px;
    background: white;
}

.menu-list {
    list-style: none;
}